.nav {
  @include HideScrollbar;
  height: 100%;
  overflow-y: auto;
  width: 200px;
  flex-direction: column;
  flex-wrap: nowrap !important;
  padding-bottom: 2em;

  .item {
    &:nth-child(1) > .item-title {
      border-radius: 0 12px 0 0;
    }

    &.selected {
      .item-title {
        background-color: rgba($secondary-color, .7);
      }
    }

    &-title {
      height: 56px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      font-size: 1.1em;
      word-break: auto-phrase;
      $padding-x: 20px;

      span {
        flex: 1;
        padding: 16px 0 16px $padding-x;
      }

      .clickable {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 100%;

        .dropdown-icon {
          font-size: 1.1em;
        }
      }
    }

    &-body {
      background-color: rgba($secondary-color, .5);
      display: flex;
      flex-direction: column;
      $gap: .45em;
      max-height: 0;
      overflow: hidden;
      transition-property: max-height padding;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;

      &.opened {
        // FIXME: max-height가 고정값이라서 짧은 내용은 줄어드는데 오래걸림
        max-height: 500px;
        padding-top: $gap;
        padding-bottom: $gap;
      }
  
      .sub-category {
        word-break: auto-phrase;
        padding: $gap $gap $gap 2em;

        &.selected {
          background-color: $font-color;
          color: $secondary-color;
        }
      }
    }
  }
}