.menu-list {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: $secondary-color;
  $padding-x: 3%;
  gap: .7em;
  border-radius: 12px 12px 0 0;
  
  .infinite-scroll-component__outerdiv {
    flex: 1;
    display: flex;
    overflow-y: scroll;
  }

  .card-container {
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    font-size: 1.4em;
    gap: 6%;
    padding: 5px $padding-x .7em $padding-x;
    position: relative;
    align-items: start;

    .card {
      $radius: 6px;
      box-shadow: 4px 4px 8px rgba(138, 129, 124, 0.3);
      border-radius: $radius;
      display: flex;
      flex-direction: column;
      background-color: $primary-color;

      .image-container {
        position: relative;
        border-radius: inherit;
        overflow: hidden;

        .sold-out-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-color: rgba($primary-color, .8);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5em;
          font-weight: 600;
          color: $font-color;
        }

        .card-image {
          width: 100%;
          aspect-ratio: 1/.75;
          object-fit: cover;
        }
      }
      
      &-body {
        flex: 1;
        font-size: .8em;
        border-radius: 0 0 $radius $radius;
        padding: .6em;
        color: $font-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &-title {
        font-weight: 600;
        font-size: 1em;
        margin-bottom: .5em;
      }

      &-price {
        font-weight: 500;
        text-align: end;
        font-size: .8em;
      }

      &.sold-out {
        box-shadow: none;

        .image-container {
          .sold-out-overlay {
            z-index: 1;
          }
        }

        .card-body {
          opacity: .5;
        }
      }
    }

    .loader {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($primary-color, $alpha: .5);
  
      > div {
        border-color: transparent $point-color $point-color !important;
      }
    }
  }
}