.menu-list {
  flex: 1;
  display: flex;
  height: calc(100vh - $header-size);
  flex-direction: column;
  background-color: $secondary-color;
  $padding-x: 3%;
  gap: .7em;
  border-radius: 15px 15px 0 0;
  
  .infinite-scroll-component__outerdiv {
    flex: 1;
    display: flex;
    overflow-y: scroll;
  }

  .card-container {
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    font-size: 1.4em;
    gap: 6%;
    padding: 5px $padding-x .7em $padding-x;
    position: relative;
    align-items: start;

    .card {
      $radius: 10px;
      box-shadow: 1px 1px 10px rgba($button-color, 0.5);
      border-radius: $radius;
      display: flex;
      flex-direction: column;
      background-color: $primary-color;

      &-image {
        width: 100%;
        aspect-ratio: 1/.75;
        background-size: cover;
        background-position: center;
        border-radius: inherit;
      }
      
      &-body {
        flex: 1;
        font-size: .8em;
        border-radius: 0 0 $radius $radius;
        padding: .4em .6em;
        color: $font-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &-title {
        font-weight: 600;
        font-size: 1em;
        margin-bottom: .5em;
      }

      &-price {
        font-weight: 500;
        text-align: end;
        font-size: .8em;
      }

      &.sold-out {
        box-shadow: none;

        .card-image {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $primary-color;
            border-radius: inherit;
            opacity: .9;
          }

          &::after {
            content: 'Sold Out';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
            color: $font-color;
            font-size: 1.1em;
            font-weight: 500;
          }
        }

        .card-body {
          opacity: .5;
        }
      }
    }

    .loader {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($primary-color, $alpha: .5);
  
      > div {
        border-color: transparent $point-color $point-color !important;
      }
    }
  }
}