.call-staff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  &-options-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-button {
    background-color: $point-color;
    color: $font-color;
    font-weight: bold;
    transition: opacity .3s;

    &:disabled {
      opacity: .5;
    }

    &:not(&:disabled):active {
      background-color: rgba($point-color, .7);
    }
  }  
}