@keyframes show {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.event-slide {
  animation: fade-in 1s ease-in-out forwards;

  .loader {
    &.show {
      animation: show 1s ease-in-out forwards;
    }
  
    &.hidden {
      animation: hide 1s ease-in-out forwards;
    }
    
    // loader dot
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.2);

      > div {
        background-color: $point-color !important;
      }
    }
  }

  .slide-container {
    position: relative;
    height: calc(100vh - $header-size);

    .carousel {
      overflow: hidden;
      height: calc(100vh - $header-size);
      
      .slide {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100vh - $header-size);
        overflow: hidden;
        opacity: 0;
        transition: opacity 2.5s;
        
        &.active {
          opacity: 1;
        }

        img {
          width: 100%;
          height: calc(100vh - $header-size);
          object-fit: cover;
        }
      }
    }
    
    .controller {
      background-color: rgba($secondary-color, .9);
      color: $font-color;
      position: absolute;
      z-index: 1;
      bottom: 1.2%;
      right: 1%;
      min-width: 90px;
      $height: 35px;
      height: $height;
      border-radius: $height / 2;
      display: flex;
      gap: 5px;
      justify-content: space-between;
      align-items: center;
      padding: 0 1%;
  
      .icon {
        font-size: 1.2em;
      }
    }
  }
}