.modal-backdrop {
  animation: fade-in .3s ease-out forwards;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($primary-color, .7);
}

.modal,
.fade-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $primary-color;
  width: 50vw;
  height: 70vh;
  border-radius: 1em;
  box-shadow: 0px 0px 15px rgba($secondary-color, .5);
}

.modal {
  padding: 1em; 
  overflow-y: auto;
  animation: fade-in 1s ease-out forwards;
}