.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  gap: 20px;

  &.countable > .option {
    padding: .8rem;
  }

  > .option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    border: 1px solid $secondary-color;
    padding: 1rem 1.25rem;
    border-radius: 1em;
    background-color: $secondary-color;

    &.selected {
      background-color: $button-color;
    }

    .counter-container {
      // background-color: $font-color;
      // color: $primary-color;
      background-color: rgba($primary-color, .4);

      border-radius: 1em;
      padding: .35em .6em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 15px;

      .counter {
        font-family: 'Roboto Mono', monospace;
      }
    }
  }
}