@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin fade-in($duration: .3s) {
  animation: fade-in $duration ease-in-out forwards;
}

@mixin fade-out($duration: .3s) {
  animation: fade-out $duration ease-in-out forwards;
}